<!DOCTYPE html>
<html>
<head>
  <style>
      body {
          font-family: Arial, sans-serif;
      }
      .container {
          margin: 20px;
          padding: 20px;
          border: 1px solid #ddd;
      }
      .logo {
          display: block;
          margin-bottom: 20px;
      }
      .content {
          margin-top: 20px;
      }
  </style>
</head>
<body>
<div class="container">
  <img src="cid:logo" alt="Portal Sonoro Logo" class="logo" width="150">
  <p>Hola {{nombreUsuario}},</p>
  <p>Correo de prueba, contraseña temporal {{nuevaContrasenya}}</p>
  <p><a href="http://localhost:4000/">Accede a Portal Sonoro</a></p>
</div>
</body>
</html>